In [2]:
import pandas as pd

In [12]:
df=pd.read_pickle("overlap_train/X_train_img.pkl")
df

         subject                                          img_array
2428  036_S_1023  [[[[1.96459004e+02 2.49132947e-02 0.00000000e+...
2557  057_S_1269  [[[[1.66259665 0.         0.        ], [4.0008...
2900  082_S_4224  [[[[0. 0. 0.], [0. 0. 0.], [0. 0. 0.], [0.0000...
2926  082_S_4224  [[[[0. 0. 0.], [0. 0. 0.], [0.         0.     ...
4139  137_S_4258  [[[[64.01320793  0.          0.        ], [6.4...
...          ...                                                ...
3474  123_S_1300  [[[[0.00104153 0.         0.        ], [1.2682...
4403  137_S_4482  [[[[5.60799657 0.3259591  0.        ], [4.9211...
1289  022_S_4291  [[[[219.21357904 241.58778055   0.        ], [...
3184  098_S_4050  [[[[0.         0.07760359 0.        ], [0.0000...
3485  130_S_4660  [[[[ 0.         14.19138522  0.        ], [0. ...

[4190 rows x 2 columns]